body {
  padding: 0px;
  margin: 0px;
  font-family: 'Abel', sans-serif;
  background-color:#202020;
  background-image:url(img/texture-portfolio.png);
}

.logo-inner {
  max-width: 90px;
}

.intro {
  height: 100vh;
  position: relative;
}

.intro-inner {
  padding: 20px;
  text-align: center;
}

.title-inner {
  color: rgb(255, 148, 180);
  font-size: 32px;
  line-height: 1.45;
  text-align: center;
  font-family: 'Abel', sans-serif;

}

.text-inner {
  color: #ffff;
  font-size: 18px;
  line-height: 1.25;
  margin: 0 0 13px;
  font-family: 'Abel', sans-serif;
}


.button {
  background-color:rgb(255, 148, 180);
  display: inline-block;
  padding: 10px;
  padding-left: 40px;
  padding-right: 40px;
  margin: 10px;
  min-width: 80px;
  border-radius: 60px;
  position: relative;
  transition:all 0.8s ease-in-out;  
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}

.button:hover {
  background-color:rgb(25, 185, 206);
  border-radius: 60px;
}

.button span {
  display: inline-block;
  transition:all 0.3s ease-in-out;
  vertical-align: middle;
  color: rgb(255, 255, 255);
}

.button:hover span {
  color:#ffff;
}

.button:hover{
  opacity: 1;
  width: auto;
}

.buttons-i {
  text-align: center;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: #202020;
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
  text-transform: uppercase;
}

.overlay a:hover, .overlay a:focus {
  color:rgb(255, 148, 180);
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color:#ffff;

}

.hamburguer-menu {
  color: #ffffff;
  cursor:pointer;
  font-size:38px;
  margin: 10px;
  padding: 15px;
  position: absolute;
  background: rgb(255, 148, 180);
  border-radius: 50%;
  height: 35px;
  width: 35px;
  line-height: 0.9;
  z-index: 5;
}


.description {
  background-color: #ffffff;
  height: 500px;
}

.title-description {
  color: #1A99CA;
  font-size: 34px;
  text-align: center;

}

.portfolio-intro {
  background-color: #fff;
}

.inverter {
  flex-direction: row-reverse;
}

.aboutme-text {
  color: #fff;
  font-size: 16px;
}

.portfolio-description {
  box-sizing: border-box;
  padding: 20px;
  background-color: #fff;
  font-family: 'Abel', sans-serif;
}

.portfolio-image img {
  width: 100%;
  text-align: center;
}

.portfolio-image-1 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 50vh;
  overflow: hidden;
}

p {
  color: #999;
  font-size: 14px;
  line-height: 1.25;
  margin: 0 0 13px;
  font-family: 'Abel', sans-serif;
}


a {
  display: inline-block;
  text-decoration: none;
  vertical-align: middle;
}

.mail {
  text-decoration: none;
  color: rgb(83, 83, 83);

}

.contact {
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  text-align: center;
  padding: 10px;
}


.icon-mail {
  vertical-align: middle;
}

.contactp {
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-family: 'Abel', sans-serif;
}

.thank {
  text-align: center;
  font-size: 16px;
}

.icoabout {
  padding-bottom: 15px;
 
}

.iconitos {
  color: #fff;
  font-size: 40px;
  padding: 10px;
}

h2 {
  color: #313131
}

.amable {
  color: rgb(122, 122, 122);
  font-size: 14px;
  line-height: 1.25;
  font-family: 'Abel', sans-serif;
  text-decoration: underline;
}



@media screen and (min-width: 700px) {
  .intro-inner {
    max-width: 600px;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate3d(-50%, -50%, 0);
  }
  .portfolio-intro {
    display: flex;
  }
  
  .portfolio-image,
  .portfolio-description {
    height: 100vh;
    width: 50%;
    overflow: hidden;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    box-sizing: border-box;
  }

  .portfolio-description {
    justify-content: center;
    font-size: 14px;
    line-height: 1.25;
    font-family: 'Abel', sans-serif;
 
  }

  .portfolio-description h2 {
    letter-spacing: -0px;
  }

  .about {
    font-size: 14px;
    height: auto;
  }

  .contact {
    width: 100%;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    box-sizing: border-box;

  }

  .text-inner {
    color: #ffff;
    font-size: 18px;
    line-height: 1.25;
    margin: 0 0 13px;
    font-family: 'Abel', sans-serif;
  }



  .contact  p {
    margin: 0 0 20px;
  }  

  .contact-info img {
    vertical-align: middle;
  }

  .contact-info span.phone {
    margin-right: 20px;
  }  

  
  .portfolio-image img {
    width: auto;
  }

  .logo-inner {
    max-width: 130px;
    text-align: center;
  }

}

h2 {
  color: #313131;

}



@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px
  }
  
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
