body {
    padding: 0px;
    margin: 0px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-family: 'Oswald', sans-serif;
    background-color: rgb(0,0,0);
}

.logo-inner {
  width: 25%;
  height: 35%;
}

.intro {
  height: 70vh;
  position: relative;
}

.intro-inner {
  max-width: 600px;
  position: absolute;
  left: 50%;
  top:50%;
  text-align: center;
  transform: translate3d(-50%, -50%, 0);
  
}

.title-inner {
  color: #f22097;
  font-size: 34px;
}

.text-inner {
  font-size: 24px;
  color: #ffff;
  padding-bottom: 30px;

}


.button-inner1 {
  background-color: #f22097;
  color: rgb(255, 255, 255);
  display: inline;
  padding: 10px;
  padding-left: 40px;
  padding-right: 40px;
  margin: 10px
    
  
}

.button-inner1:hover {
  background-color: #ffffff;
  border-radius: 60px;
  transition: 0.9s;
  color:rgb(5, 5, 5);
  display: inline;
  padding: 10px;
  padding-left: 40px;
  padding-right: 40px;
  margin: 10px

}

.button-inner2 {
  background-color: #f22097;
  color: rgb(255, 255, 255);
  display: inline;
  padding: 10px;
  padding-left: 48px;
  padding-right: 48px;
  margin: 10px

}

.button-inner2:hover {
  background-color: #ffffff;
  border-radius: 60px;
  transition: 0.9s;
  color:rgb(5, 5, 5);
  display: inline;
  padding: 10px;
  padding-left: 48px;
  padding-right: 48px;
  margin: 10px

}





.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color:#f22097;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

.hamburguer-menu {
  color: #818181;
  font-size:33px;
  cursor:pointer
}


.description {
  background-color: #ffffff;
  height: 500px;
}

.title-description {
  color: #f22097;
  font-size: 34px;
  text-align: center;

}

@media screen and (max-height: 450px) {
.overlay a {font-size: 20px}
.overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
}
}



